/* ================ | CSS Grid |================ */
.grid_container {
    display: grid;
    grid-template-areas:
      'logos breadcrumb profile'
      'logos page_title page_title ';
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 45% 70%;
    /* row-gap: 5px; */
    /* gap: 10px; */
    background-color: white;
    /* position: fixed; */
    /* padding-bottom: 15%; */
}
  
.grid_container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    /* border: 1px solid #000000; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
}

.item1 { 
    grid-area: logos; 
    /* background-color: #ffffff; */
    border-right: 1px solid #000000;
}

.item2 { 
    grid-area: breadcrumb; 
    /* background-color: #ffffff;  */
}

.item3 { 
    display: flex;
    justify-content: right; 
    align-items: center; 
    grid-area: profile; 
    border-radius: 5px;
}

.item4 { 
    grid-area: page_title; 
    /* background-color: #ffffff;  */
    border-top: 1px solid #000000;
}


/* ================ | Logos |================ */
.my-studies-logo {
    display: block;
    width: 90%; 
    margin-left: 5%;
    margin-bottom: 6%;
    margin-top: 4%;
}

.ekpa-logo {
    display: block;
    width: 90%; 
    margin-left: 5%;
    padding-bottom: 5%;
}

/* ================ | Breadcrumb |================ */
.breadcrumb {
    padding-top: 1.5%;
    font-size: 130%;
    margin-left: 2.7%;
}

/* ================ | Page Title |================ */
.page_title {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
}

.icon {
    font-size: 180%; 
    margin-right: 5px; 
    color: var(--student-color);
    font-weight: bold;
}

.title {
    font-size: 180%;
    color: var(--student-color);
    font-weight: 700;
}


/* ================ | Profile |================ */
.dropdown_profile {
    background-color: rgba(110, 185, 232, 0.30);
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
.dropdown_option {
    cursor: pointer;
}
  
.dropdown-toggle {
    background-color: rgba(22, 149, 228, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
  
.circle {
    background-color: rgb(255, 255, 255);
    width: 30px;       
    height: 30px;      
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    font-size: 16px;    
    font-weight: 600; 
}
  
.button-text {
    display: flex;
    flex-direction: column; 
    margin-right: 20px;      
}
  
.button-text span{
    font-size: 120%;
}
  
.button-text .id{
    color: rgba(0, 0, 0, 0.50);
}

.dropbtn {
    background-color: white;
    color: var(--student-color);
    padding: 8px 16px;
    font-size: 18px;
    margin: 0 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; 
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F80C1;
    width: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    
.dropdown-content a:hover {
    color: white;
}
    
.dropdown:hover .dropdown-content {
    display: block;
}
    
.dropdown:hover .dropbtn, 
.nav-links a:not(.login-btn):hover {
    background-color: rgba(47, 128, 193, 0.2); 
}

.dropbtn .fa-chevron-down {
    color: var(--home-color);
    margin-left: 2px;  
    vertical-align: middle;
}


.dropbtn:hover .fa-chevron-down {
    color: white;
}

.dropdownIcons {
    font-size: 120%;
    margin-left: 10px;
    padding-right: 10px;
}












/* .profile_container {
    margin-top: 1%;
}

.dropdown {
    justify-content: right;
}

.circle {
    background-color: rgb(255, 255, 255);
    width: 35px;       
    height: 35px;      
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px; 
    font-size: 16px;    
    font-weight: 600; 
}

.button-text {
    display: flex;
    flex-direction: column; 
    margin-right: 20px;      
}

.button-text span{
    font-size: 130%;
}

.menu-icon {
    font-size: 130%;

}

.button-text .id{
    color: rgba(0, 0, 0, 0.50);
}

.dropdown-toggle {
    background-color: rgba(110, 185, 232, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--grey);
    width: 15%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content .profile {
    border-radius: 5px 5px 0 0;
}

.dropdown-content .logout {
    border-radius: 0;
}

.dropdown-content .home-page {
    border-radius: 0 0 5px 5px;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdownIcons {
    font-size: 150%;
    margin-left: -5px;
    margin-top: -5px;
    padding-right: 10px;
} */


