.wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85% ;
    position: static;
}
  
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: rgba(0, 78, 127, 0.50);
    position: fixed;
    height: 100%;
    width: 15%;
    top: 16%;
    z-index: 1;
}
  
.main {
    grid-area: main;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
}

/* ================ | For degree |================ */
.grades {
    background-color: rgba(151, 191, 224, 0.25);
    width: 100%; 
    height: 100%;
    margin-top: 2%;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 0.1%;
}

/* ================ | Personal Information |================ */
.info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 4%;
}

.columns {
    width: 100%; 
    height: 100%;
}

.personal_info {
    background-color: rgba(151, 191, 224, 0.25);
    width: 100%; 
    height: 100%;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 0.1%;
}
  
.uni_info {
    background-color: rgba(151, 191, 224, 0.25);
    width: 100%; 
    height: 100%;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 0.1%;
}

.table_title {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 8px;
    text-align: left;
    font-weight: bold;

}

td {
    padding: 4px;
    text-align: left;   
}

.morebold {
    font-weight: bold;
}


.ects {
    font-size: 100%;
    font-weight: bold;
    color: black;
}

/* ================ | Update Data Button |================ */

.dropbtn {
    margin-top: 15px;
    padding: 1%;
    background-color:rgba(13, 139, 217, 0.1);
    color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    width: 106%;
}

.dropbtn:hover {
    background-color:rgba(25, 104, 154, 0.6);
    border: 0.5px solid rgba(13, 139, 217, 0.6);
}