/* ================ | CSS Grid |================ */
.grid_container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'sidebar semestertable tablecomponent tablecomponent tablecomponent';
    grid-template-columns: 15% 10% 20% 20% 35%;
    /* grid-template-rows: 20% 20% 60%; */
    /* gap: 10px; */
    /* background-color: #2196F3; */
    /* position: fixed; */
    /* padding-bottom: 15%; */
}
  
.grid_container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: left; */
    border: 1px solid #ff0000;
    /* padding: 20px 0; */
    /* font-size: 30px; */
}

.item1 { 
    grid-area: header; 
    /* background-color: #ffffff; */
    position: sticky;
    /* border-right: 10px solid #ff0000; */
}

.item2 { 
    grid-area: sidebar;

    /* background-color: #ffffff;  */
    /* border-right: 10px solid #ff0000; */
}

.item3 { 
    grid-area: semestertable; 
    padding-top: 35%;
}

.item4 { 
    grid-area: tablecomponent; 
    /* padding-top: 20%; */
}




