.breadcrumb-container {
  position: absolute;
  z-index: 1000;
}

.breadcrumb-link {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 80%;
  /* font-weight: 600; */
}

.breadcrumb-link:hover {
  font-weight: 500;
}

.breadcrumb-separator {
  color: #000000;
  margin: 0 5px;
}

.current-page {
  color: var(--student-color); 
}
