.breadcrumb-container {
  position: absolute;
  top: 6%;
  margin-left: 18%;
  z-index: 1000;
}

.breadcrumb-link {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 80%;
}

.breadcrumb-link:hover {
  text-decoration: none;
}

.breadcrumb-separator {
  color: #333;
  margin: 0 5px;
}
