.wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85% ;
    position: static;
}
  
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: rgba(0, 78, 127, 0.50);
    position: fixed;
    height: 100%;
    width: 15%;
    top: 16%;
    z-index: 1;
}
  
.main {
    grid-area: main;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}


/* ================ | newGradeButton |================ */

.newGradeButton {
    border-radius: 5px;
    border: 0.5px solid #000;
    background: rgba(0, 78, 127, 0.20);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.newGradeButton:hover {
    background: rgba(0, 78, 127, 0.30); 
}