/* ================ | Footer |================ */
.footer {
    display: flex;
    background-color: rgba(239, 250, 252, 1);
    color: var(--home-color);
}
  
.column {
    flex: 1;
    text-align: center;
    padding: 20px;
    text-align: left;
}

.section {
    padding-bottom: 50px;
    padding-top: 25px;
    padding-right: 100px;
    padding-left: 100px;
}

.p {
    text-align: left;
}


/* ================ | Column 1 |================ */
.logo-container {
    list-style-type: none;
    padding-top: 20px;
}
  
.ekpa-logo {
    max-width: 220px;
    margin-top: 20px;
}
  
.my-studies-logo {
    max-width: 220px;
    /* margin-top: -20px;  */
    /* margin-left: -17px;  */
}

.copy {
    font-size: 18px;
    margin-left: 50px; 
}

/* ================ | Column 2|================ */
.useful-links {
    list-style-type: none;
    padding: 0;
}
  
.useful-links li {
    margin-bottom: 10px;
}
  
.useful-links a {
    text-decoration: none; 
    color: #000000;
    transition: color 0.3s; 
}
  
.useful-links a:hover {
    color: var(--home-color); 
}