/* ================ | CSS Grid |================ */
.grid_container {
    display: grid;
    grid-template-areas:
      'logo_mystudies breadcrumb breadcrumb breadcrumb breadcrumb profile'
      'logo_ekpa page_title page_title page_title page_title page_title ';
    grid-template-columns: 15% 21.5% 17.5% 17.5% 17.5% 11%;
    grid-template-rows: 50% 50%;
    /* gap: 10px; */
    /* background-color: #2196F3; */
    /* position: relative; */
}
  
.grid_container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    /* border: 1px solid #ff0000; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
}

/* Vertically line */
/* .grid_container::before {
    content: '';
    display: block;
    position: absolute;
    left: 18.9%;
    height: 50%;
    width: 2px;
    background-color: #C8CBD9;
} */

.item1 { 
    grid-area: logo_mystudies; 
    /* background-color: #ffffff; */
    /* border-right: 10px solid #ff0000; */
}

.item2 { 
    grid-area: logo_ekpa;
    /* background-color: #ffffff;  */
    /* border-right: 10px solid #ff0000; */
}

.item3 { 
    grid-area: breadcrumb; 
}

.item4 { 
    right: 10%;
    grid-area: profile; 
}

.item5 { 
    grid-area: page_title; 
    /* top: 50%;
    top: 50%; */
    /* transform: translateX(50%) translateY(50%); */
}


/* ================ | Lines |================ */
.horizontalLine {
    border: px solid #C8CBD9; 
    width: 700%;
    transform: translateY(-4500%) translateX(14.5%);
}

/* .verticalLine {
    border-top: 10px solid #C8CBD9; 
    height: 100%; 
    transform: translateX(20%);
} */


/* ================ | Logos |================ */
.my-studies-logo {
    display: block;
    width: 85%; 
    margin-left: 7%;
    margin-top: 6%;
}

.ekpa-logo {
    display: block;
    width: 90%; 
    margin-left: 5%;
    margin-top: 2%;
}

/* ================ | Breadcrumb |================ */
.breadcrumb {
    margin-left: 3%;
    margin-top: 2%;
    font-size: 170%;
    transform: translateY(100%) translateX(-17.5%);
}

/* ================ | Page Title |================ */
.page_title {
    /* transform: translateY(50%); */
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 170%; 
    margin-right: 5px; 
    margin-top: 2%; 
    color: var(--student-color);
    font-weight: bold;
}

.title {
    font-size: 170%;
    margin-top: 1.5%; 
    color: var(--student-color);
    font-weight: 700;
}


/* ================ | Profile |================ */
.profile {
    transform: translateX(-30%) translateY(0);
}





















.logo-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    border-right: 1px solid var(--grey); 
    width: 15%; 
    height: auto;
}

.logo-container li {
    display: block;      /* Ensures each LI is on a new line */
}


/* =========== | Dropdown Button |  =========== */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.dropdown {
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.circle {
    background-color: white;
    width: 30px;        /* Adjust size as needed */
    height: 30px;       /* Same as width for a perfect circle */
    border-radius: 50%; /* Make it round */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Space between the circle and the text */
    font-size: 16px;    
    font-weight: 600; 
}


.button-text {
    display: flex;
    flex-direction: column;   /* Stack the text lines vertically */
    margin-right: 20px;        /* Spacing between icon and text */
}

.button-text span{
    font-size: 16px;
}

.button-text .id{
    color: rgba(0, 0, 0, 0.50);
}

.menu-icon {
    color: #222222;
    width: 18px;  /* Or any size you prefer */
    height: auto; /* Maintain the aspect ratio */
}

.dropdown-toggle {
    background-color: rgba(110, 185, 232, 0.30);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align icon and text container */
    justify-content: center;
    padding: 10px;
    width: 200px;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--grey);
    width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .profile {
    border-radius: 5px 5px 0 0;
}

.dropdown-content .logout {
    border-radius: 0;
}

.dropdown-content .home-page {
    border-radius: 0 0 5px 5px;
}

.dropdown-content.show {
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.horizontal-line {
    margin-left: 254px;
    position: absolute;
    bottom: 80px; /* Increase to move the line up, decrease to move it down */
    left: 0;
    width: 1440px;
    height: 1px;
    background-color: var(--grey);
}

