.sidebar{
  position: fixed;
    /* top: 18%; */
    width: 15%;
    height: calc(100% - 18%);
    background-color: rgba(13, 139, 217, 0.6);
    transition: left 0.3s ease;
    /* padding-top: 60px; */
    font-size: 100%;    
}

.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  text-align: left;
}
.sidebar-item:hover{
  background-color: #2F80C1;
  color: #FFFFFF;
  border-radius: 5px;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);

}
.sidebar-item.open > .sidebar-title{
  padding: 6px;
  border-radius: 5px;
}
.sidebar-item.open {
  background-color: #2F80C1;
  color: #FFFFFF;
}

.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}



.sidebar-item.open > .sidebar-content{
  height: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.sidebar-item.plain{
  color: #000;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  color: #FFFFFF;
}

.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.sidebar-item.clicked {
  background-color: #2F80C1;
  color: white;
  border-radius: 5px; 
}

.sidebar h1 {
  font-size: 120%;
  color: #FFFFFF;
}

.rest {
  padding: 10px;
  position: absolute;
  bottom: 8%;
  width: 90%;
}

.rest button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid #000000;
  padding: 4px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

.rest button:hover {
  border: 1px solid #FFFFFF;
  color: white;
} 







