.gridContainer {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'sidebar main main main main';
    grid-template-columns: 15% 80% 5%;
}

.gridContainer > div {
    border: 1px solid #ff0000;
}

.header { 
    grid-area: header; 
    position: sticky;
}

.sidebar { 
    grid-column: 1;
}

.faqContainer{
    transform: translateX(4%);    
    grid-column: 2;
}

.faqItem {
    margin-bottom: 10px;
}
  
.faqButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 139, 217, 0.40);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
}

.faqButtonOpen{
    border-radius: 5px 5px 0 0;
}

.faqAnswer, .faqAnswerOpen {
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.faqAnswer {
    display: none;
}

.faqAnswerOpen {
    display: block;
    background-color: rgba(13, 139, 217, 0.15);
}


/* =========== | FAQs Text | =========== */
.faqQuestionText {
    font-weight: bold; 
    font-size: 16px; 
}

.faqAnswerText {
    font-size: 14px; 
}

/* ======== | Select button | ======== */
.selectWrapper {
    position: relative;
    display: inline-block;
}

.dropdown{
    position: relative;
    display: flex;
    align-items: center;            /* Vertically aligns items in the middle */
    gap: 10px;                      /* Add some space between items */
}

.dropdown h2{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.dropdown-select{
    width: 100%; 
    padding: 8px 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; /* Slightly rounded corners */
    background-color: white;
    color: #333; /* Dark text for readability */
    font-size: 16px; 
    appearance: none; /* Removes default browser styling */
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-right: 30px;
}

.dropdown-select option {
    color: #333; /* Text color */
    background-color: white; /* Background color */
    padding: 5px; /* Padding (may not be applied in all browsers) */
}

.dropdown-select:focus {
    outline: none;
}

.select-arrow {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* This ensures clicks on the icon will focus the select */
}