.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    margin: auto; /* For horizontal centering */
}

.faqItem {
    margin-bottom: 10px;
  }
  
.faqButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 139, 217, 0.40);
    border-radius: 5px;
    padding: 10px;
    width: 1120px;
    cursor: pointer;
    border: none;
}

.faqButtonOpen{
    border-radius: 5px 5px 0 0;
}

.faqAnswer, .faqAnswerOpen {
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.faqAnswer {
    display: none;
}

.faqAnswerOpen {
    display: block;
    background-color: rgba(13, 139, 217, 0.15);
}


/* =========== | FAQs Text | =========== */
.faqQuestionText {
    font-weight: bold; 
    font-size: 16px; 
}

.faqAnswerText {
    font-size: 14px; 
}

/* ======== | Dropdown button | ======== */
.dropdown{
    position: relative;
    display: flex;
    align-items: center;            /* Vertically aligns items in the middle */
    gap: 10px;                      /* Add some space between items */
}

.dropdown h2{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.dropdown-toggle{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    background: white;
}

/* ======== | Dropdown content | ======== */
.dropdown-content {
    position: absolute;
    top: 100%; /* Positions directly below the toggle button */
    left: 15%; /* Adjust to horizontally center or set a specific value */
    transform: translateX(-50%); /* Center align the dropdown */
    width: 50%; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* To ensure it's above other content */
}

.dropdown-content button {
    font-size: 16px;
    width: 100%;                   /* Ensure buttons take full width */
    text-align: left;              /* Align text to the left */
    padding: 10px;                 /* Padding for button */
    border: none;                  /* Optional: removes border */
    background-color: transparent; /* Optional: transparent background */
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}
.withDropdownOpen {
    margin-top: 120px; 
}