.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0; 
    margin: 0 auto; /* Center the container */
}

h2{
    color: black;
}

.buttonsContainer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px;
}

.button {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

.activeButton {
    background-color: rgba(78, 144, 201, 0.20);
}
  