.form{
    width:100%;
}
.formContainer {
    display: grid;
    grid-template-areas:
        'column1 column2';
        grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Two columns with a min width of 300px */
        /* grid-template-row: 1fr 1fr; */
    gap: 15px; /* Space between columns */
    background-color: red;
}

.column1 {
    grid-area: column1;
}

.column2 {
    grid-area: column2;
}

.departmentField{
    width: 100%;
    cursor: default;
}