.process-bar {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(13, 139, 217, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
  width: 60%;
}

.process-stages-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.process-stage {
  flex: 1;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.process-stage.active {
  color: rgba(13, 139, 217, 0.6);
}

.process-stage.next {
  color: rgba(77, 75, 75, 0.63);
}

.stage-number {
  font-size: 1.5em; 
  position: absolute;
  top: 50%; 
  left: 15%; 
  transform: translate(-50%, -50%); 
}

.arrow {
  font-size: 150%; 
  color: rgba(13, 139, 217, 0.6); 
}

