.wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85% ;
    position: static;
}
  
.header {
    grid-area: header;
    background-color: white;
    position: fixed;
    z-index: 2;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: #6EB9E8;
    position: fixed;
    height: 100%;
    width: 15%;
    top: 16%;
    z-index: 1;
}
  
.main {
    grid-area: main;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    min-height: 500px;
    overflow-y: auto;
}

/* =========== | Change Password | =========== */

.formContainer{
    padding-bottom: 30px; 
}

.Pass, .ConfPass {
    margin-bottom: 20px;
}

.formContainer .title{
    margin-bottom: 0;
    text-align: left;
}

.formContainer .titleSeparator{
    margin-top: 0;
    margin-bottom: 20px; 
}

.passwordContainer {
    background-color: #F8F8F8;
    border-radius: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.title {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.titleSeparator{
    margin-top: 0;
    margin-bottom: 20px; 
}

.labelText {
    font-weight: bold;
    margin-bottom: 5px; 
}

.inputField {
    font-size: 16px;
    padding: 10px 12px;
    border: 1px solid black; 
    border-radius: 5px; 
    width: 100%;
}

.inputField:focus {
    outline: none;
}

.eyeIcon {
    font-size: 120%;
    position: absolute;
    right: 4%;
    transform: translateY(-120%); 
    cursor: pointer;
}

/* =========== | Buttons | =========== */
.buttonContainer {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;                 
    padding: 10px 0;          
}

.cancelButton{
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border: 1px solid black; 
    border-radius: 5px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.registerButton{
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: #48C195;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}