.wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85% ;
    position: static;
}
  
.header {
    grid-area: header;
    background-color: white;
    position: fixed;
    z-index: 2;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: #6EB9E8;
    position: fixed;
    height: 100%;
    width: 15%;
    top: 16%;
    z-index: 1;
}
  
.main {
    grid-area: main;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    min-height: 500px;
    overflow-y: auto;
}

/* =========== | FAQs Text | =========== */