body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --home-color: #4E90C9;
  --student-color: #0D8BD9;
  --professors: #004E7F;
  --green: #1AB17A;
  --orange: #F67E0E;
  --red: #F42929;   
  --grey: #EAEAEA;
}