.semesterDropdownContainer {
  position: absolute;
  left: 25%;
  top: 23%;
}

.semesterDropdown {
  padding: 8%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 105%;
  width: 150px;
 
}

.semesterDropdown option:checked {
  background-color: rgba(13, 139, 217, 0.1);
}
