/* ================ | Select |================ */
.semesterDropdownContainer {
  position: relative;
  width: 10%;
  z-index: 1;
  margin-bottom: -12%;
  margin-top: 15%;
}

.dropdown-select {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none; 
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  outline: none;
}
.select-arrow {
  position: absolute;
  right: 10%; 
  top: 50%; 
  transform: translateY(-50%); 
  pointer-events: none; 
}

/* ================================ */
.next-page {
  position: relative;
  bottom: 5%;
  right: -40%;
  padding: 0.7%;
  background-color: white;
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  font-size: 105%;
  font-weight: bold;
  width: 10%;
  text-decoration: none;
}

.previous-page {
  position: relative;
  top:550px;
  right: 25%;
  padding: 0.7%;
  background-color: white;
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  font-size: 105%;
  font-weight: bold;
  width: 10%;
  text-decoration: none;
}

.tablecontainer {
  margin: 10% 25% 5% 25%; 
  width: 100%;
  position: absolute;
}

.searchbar {
  position: relative;
  top: 25%;
  left: 40%;
  width: 20%;
  margin-bottom: 1%;
  margin-top: -1%;
}

.searchiconcontainer {
  position: absolute;
  left: 5%;
  top: 25%;
}

.searchinput {
  padding: 4% 4% 4% 16%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  font-style: italic;
  width: 300px;
}

.searchinput:focus {
  border-color: rgba(13, 139, 217, 1);
  box-shadow: 0 0 5px rgba(13, 139, 217, 0.4);
  outline: none;
}

.doc-icon {
  font-size: 150%;
}
