
.table-container {
    margin: 10% 20%; 
}

table {
    border-collapse: collapse;
    border-radius: 5px; 
    overflow: hidden; 
}

.table-header {
    background-color: rgb(13, 139, 217, 0.1);
}

.table-row {
    background-color: rgb(255, 255, 255, 0.2);
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.eye {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}
