.searchbar {
    position: relative;
}

.searchinput {
    padding: 1% 2% 1% 2%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    width: 30%;
}
  
.searchinput:focus {
    outline: none;
}


.tablecontainer {
    width: 100%;
    position: absolute;
}



table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1.8%;
}

.table-header {
    background-color: rgb(13, 139, 217, 0.1);
}


.table-row {
    background-color: rgb(255, 255, 255, 0.2);
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 90%;
}

.table-cell.icon {
    padding: 12px;
    border: 1px solid #ddd;
    color: black;
    margin-left: 1px;
}

.eye {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.checkbox {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.checkbox input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    appearance: none; 
    border: 1px solid rgba(13, 139, 217, 0.9);
    border-radius: 5px; 
    outline: none; 
    position: relative;
}

.checkbox input::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    opacity: 0; 
}

.checkbox input:checked::before {
    opacity: 1; 
}

.checkbox input:checked {
    background-color: rgba(13, 139, 217, 0.9); 
    border-color: rgba(13, 139, 217, 0.9); 
    color: #fff; 
}

.icon {
    color: grey; 
    margin-left: 3px; 
    cursor: pointer;
}
 

.selected-class-details{
    margin-top: 20px;
    clear: both;
}


.download-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
 

.download_button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 120%;
    cursor: pointer;
}

.download_button:hover{
    color: var(--professors);
}

.circle {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 120%;
    cursor: pointer;
}

.circle:hover{
    color: var(--professors);
}

.icon_h2 {
    margin-right: 5px;
}

.noCertificates {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.7);
}

.pencil {
    font-size: 150%;
    top: 50%;
    cursor: pointer;
}

.situation{
    font-size: 120%;
    font-weight: 500;
}

.seperate{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 200%;
    font-weight: 200;
}