/* .table-container { */
    /* gia na allaksei i thesi tou pinaka allakse auto */
    /* margin: 5% 50% 15% 25%;

} */

.searchbar {
    position: relative;
    
    /* left:0% */
    /* margin-left: 80%; */
    
}

.searchinput {
    padding: 1% 2% 1% 2%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    width: 30%;
}
  
.searchinput:focus {
    /* border-color: rgba(13, 139, 217, 1); */
    /* box-shadow: 0 0 5px rgba(13, 139, 217, 0.4); */
    outline: none;
}


.tablecontainer {
    /* margin: 10% 25% 5% 25%;  */
    width: 100%;
    position: absolute;
}


table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1.8%;
    /* position: absolute; */
}

.table-header {
    background-color: rgb(13, 139, 217, 0.1);
    
}


.table-row {
    background-color: rgb(255, 255, 255, 0.2);
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 90%;
}

.table-cell.icon {
    padding: 12px;
    border: 1px solid #ddd;
    color: black;
    margin-left: 1px;
}

.table-cell.class {
    /* width: 0%;  */
}

.eye {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.checkbox {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.checkbox input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    appearance: none; 
    border: 1px solid rgba(13, 139, 217, 0.9);
    border-radius: 5px; 
    outline: none; 
    position: relative;
}

.checkbox input::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    opacity: 0; 
}

.checkbox input:checked::before {
    opacity: 1; 
}

.checkbox input:checked {
    background-color: rgba(13, 139, 217, 0.9); 
    border-color: rgba(13, 139, 217, 0.9); 
    color: #fff; 
}

.icon {
    color: grey; 
    margin-left: 3px; 
    cursor: pointer;
}


  

.selected-class-details{
    margin-top: 20px;
    clear: both;
}


.certif {
    /* margin-left: 50%; */
}
 
