.table-container {
    /* gia na allaksei i thesi tou pinaka allakse auto */
    margin: 15% 10% 15% 20%;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.table-header {
    background-color: rgb(13, 139, 217, 0.1);
    
}

.table-row {
    background-color: rgb(255, 255, 255, 0.2);
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
.table-cell.icon
{
    padding: 12px;
    border: 1px solid #ddd;
    color: black;
    margin-left: 1px;
}

.table-cell.class
{
    width: 300px; 
}
.eye {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.checkbox {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.checkbox input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    appearance: none; 
    border: 1px solid rgba(13, 139, 217, 0.9);
    border-radius: 4px; 
    outline: none; 
    position: relative;
}

.checkbox input::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    opacity: 0; 
}

.checkbox input:checked::before {
    opacity: 1; 
}

.checkbox input:checked {
    background-color: rgba(13, 139, 217, 0.9); 
    border-color: rgba(13, 139, 217, 0.9); 
    color: #fff; 
}

.icon {
    color: grey; 
    margin-left: 3px; 
    cursor: pointer;
}

.search-bar {
    position: relative;
    margin-bottom: 20px;
  }
  
  .search-icon-container {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search-input {
    padding: 8px 8px 8px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    font-style: italic;
    width: 300px; 
  }
  
  .search-input:focus {
    border-color: rgba(13, 139, 217, 1);
    box-shadow: 0 0 5px rgba(13, 139, 217, 0.4); 
    outline: none;
  }
  


 
