.tablecontainer {
    margin: 5% 50% 15% 25%;
}

.searchbar {
    position: absolute;
    margin-top: -5%;
    top: 33%;
    right: 20%;
}
 
.searchiconcontainer {
    position: absolute;
    left: 3%; 
    top: 25%;
}
      
.searchinput {
    padding: 4% 4% 4% 16%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    width: 300px; 
}
    
.searchinput:focus {
    border-color: rgba(13, 139, 217, 1);
    box-shadow: 0 0 5px rgba(13, 139, 217, 0.4); 
    outline: none;
}
 