.pop {
    width: 700px;
    height: 340px;
    padding: 20px;
    padding-top: 0; /* Remove padding at the top */
    border-radius: 8px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    background-color: rgba(13, 139, 217, 0.7);
    width: 100%; 
    margin: 0;
    padding: 20px; 
    border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
    font-weight: bold;
    color: white;
    width: calc(100% + 40px); 
    margin-left: -20px; 
    box-sizing: border-box;
}


.content {
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: rgba(13, 139, 217, 0.6); 
    transition: background-color 0.3s ease;
    border: 0px solid;
}

.closeButton:hover {
    background-color: red; 
    color: white;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* ======== | Popup buttons | ======== */

.navbar {
    display: flex;
    justify-content: center; /* Horizontally space out the buttons evenly */
    align-items: center; /* Vertically align items in the center */
}

.tabButton{
    font-size: 18px;
    font-weight: 700;
    border: 0px solid;
    cursor: pointer;
    background: none;
    margin: 0 10px;
}

.activeTabButton {
    color: white;
}

/* ======== | Professor popup tab | ======== */

.professorInfoContainer .headerContainer{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    gap: 10px;
}

.professorInfoContainer .headerContainer h2{
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.professorInfoContainer .headerContainer h3{
    font-size: 16px;
    font-weight: normal;
    color: black;
}

/* ======== | Tables | ======== */

.table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1.8%;
}

.table .table-row td:first-child{
    background-color: rgba(13, 139, 217, 0.10);
}


.table-cell {
    padding: 12px;
    border: 1px solid #B9B9B9;
    text-align: left;
    font-size: 90%;
}

.right-corner-cell{
    border-radius: 5px 0px 0px 0px;
    background-color: rgba(13, 139, 217, 0.10);
    padding: 12px;
    border: 1px solid #B9B9B9;
    text-align: left;
    font-size: 90%;
}

.left-corner-cell{
    border-radius: 0px 0px 0px 5px;
    background-color: rgba(13, 139, 217, 0.10);
    padding: 12px;
    border: 1px solid #B9B9B9;
    text-align: left;
    font-size: 90%;
}

/* ======== | Book Table | ======== */

.table-header th{
    border: 1px solid #B9B9B9;
    background-color: rgb(13, 139, 217, 0.10);
}

.tableRow td{
    background-color: white;
    border: 1px solid #B9B9B9;
}