.pop {
    width: 600px;
    height: 300px;
    padding: 20px;
    padding-top: 0; /* Remove padding at the top */
    border-radius: 8px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    background-color: rgba(13, 139, 217, 0.7);
    width: 100%; 
    margin: 0;
    padding: 20px; 
    border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
    font-weight: bold;
    color: white;
    width: calc(100% + 40px); 
    margin-left: -20px; 
    box-sizing: border-box;
}

.header * {
    display: inline;
    margin-bottom: 10px;
    font-size: 100%;
}

.pop > .header li :hover{
    color: #FFFFFF;
}
  
.pop > .header li {
    margin: 7px;
}

.pop > .header li a {
    color: black;
    text-decoration: none;
}


.content {
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: rgba(13, 139, 217, 0.6); 
    transition: background-color 0.3s ease;
    border: 0px solid;
}

.closeButton:hover {
    background-color: red; 
    color: white;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* ======== | Professor popup tab | ======== */

.professorInfoContainer{
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.professorInfoContainer h2{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.professorInfoContainer h3{
    font-size: 18px;
    font-weight: normal;
    color: black;
}